<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myCobot320">

  <xacro:property name="width" value=".2" />

  <xacro:property name="joint_effort" value="56.0" />
  <xacro:property name="joint_velocity" value="2.792527" />
  <xacro:property name="joint_damping" value="0.0" />
  <xacro:property name="joint_friction" value="0.0" />
  <xacro:property name="base_mass" value="0.12" />
  <xacro:property name="link1_mass" value="0.12" />
  <xacro:property name="link2_mass" value="0.19" />
  <xacro:property name="link3_mass" value="0.16" />
  <xacro:property name="link4_mass" value="0.124" />
  <xacro:property name="link5_mass" value="0.11" />
  <xacro:property name="link6_mass" value="0.0739" />
  <xacro:property name="flange_mass" value="0.035" />
  <xacro:property name="gripper_base_mass" value="0.03" />
  <xacro:property name="gripper_finger_mass" value="0.008" />

  <xacro:macro name="link_inertial" params="xg yg zg mass ixx iyy izz">
    <inertial>
      <origin xyz="${xg} ${yg} ${zg}" rpy="0 0 0" />
      <mass value="${mass}" />
      <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}" />
    </inertial>
  </xacro:macro>

  <!-- World link -->
  <link name="world" />
  <!-- Junta fija entre world y base_link -->
  <joint name="fixed" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>


  <link name="base_link">
    <xacro:link_inertial xg="0" yg="0" zg="0" mass="${base_mass}" ixx="0.000148" iyy="0.000148"
      izz="0.000096" />

    <visual>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/base.dae" />
      </geometry>
      <origin xyz="0.0 0 0 " rpy=" 0 0 1.5708" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/base.dae" />
      </geometry>
      <origin xyz="0.0 0 0 " rpy=" 0 0 1.5708" />
    </collision>
  </link>

  <link name="link1">
    <xacro:link_inertial xg="0" yg="0" zg="-0.078" mass="${link1_mass}" ixx="0.000148"
      iyy="0.000148" izz="0.000096" />

    <visual>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link1.dae" />
      </geometry>

      <origin xyz="0.0 0.0 -0.078 " rpy=" 0 0 1.5708" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link1.dae" />
      </geometry>
      <origin xyz="0.0 0.0 -0.078 " rpy=" 0 0 1.5708" />
    </collision>
  </link>


  <link name="link2">
    <xacro:link_inertial xg="0" yg="0" zg="-0.04" mass="${link2_mass}" ixx="0.000148" iyy="0.000148"
      izz="0.000096" />

    <visual>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link2.dae" />
      </geometry>
      <origin xyz="0.0 0.0 -0.04 " rpy=" 0 1.5708 0" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link2.dae" />
      </geometry>
      <origin xyz="0.0 0.0 -0.04 " rpy=" 0 1.5708 0" />
    </collision>
  </link>


  <link name="link3">
    <xacro:link_inertial xg="0" yg="0" zg="0.039" mass="${link3_mass}" ixx="0.000148" iyy="0.000148"
      izz="0.000096" />
    <visual>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link3.dae" />
      </geometry>
      <origin xyz="0.0 0.0 0.039 " rpy=" 1.5708 1.5708 1.5708" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link3.dae" />
      </geometry>
      <origin xyz="0.0 0.0 0.039 " rpy=" 1.5708 1.5708 1.5708" />
    </collision>
  </link>


  <link name="link4">
    <xacro:link_inertial xg="0" yg="0.0024" zg="-0.05" mass="${link4_mass}" ixx="0.000103"
      iyy="0.000103" izz="0.000096" />
    <visual>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link4.dae" />
      </geometry>
      <origin xyz="0.0 -0.0024 -0.05" rpy=" 1.5708 1.5708 0" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link4.dae" />
      </geometry>
      <origin xyz="0.0 -0.0024 -0.05" rpy=" 1.5708 1.5708 0" />
    </collision>
  </link>


  <link name="link5">
    <xacro:link_inertial xg="0" yg="0" zg="-0.05" mass="${link5_mass}" ixx="0.000103" iyy="0.000103"
      izz="0.000096" />
    <visual>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link5.dae" />
      </geometry>
      <origin xyz="0.0 0.0 -0.05 " rpy=" 0  0 -1.5708" />
    </visual>
    <collision>
      <origin xyz="0 0 -0.01" rpy="0 0 -1.5708" />
      <geometry>
        <box size="0.103 0.059 0.080" />
      </geometry>
    </collision>
  </link>


  <link name="link6">
    <xacro:link_inertial xg="0" yg="0" zg="-0.0115" mass="${link6_mass}" ixx="0.00006649"
      iyy="0.00006649" izz="0.000096" />
    <visual>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link6.dae" />
      </geometry>
      <origin xyz="0.0 0.0 -0.0115 " rpy=" 1.5708 1.5708 0" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://clase5/robot_description/mycobot_320_m5_2022/link6.dae" />
      </geometry>
      <origin xyz="0.0 0.0 -0.0115 " rpy=" 1.5708 1.5708 0" />
    </collision>
  </link>


  <joint name="joint1" type="revolute">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="-2.93" upper="2.93" velocity="10" />
    <parent link="base_link" />
    <child link="link1" />
    <origin xyz="0 0 0.1739" rpy="0 0 0" />
    <dynamics damping="${joint_damping}" friction="${joint_friction}" />
  </joint>


  <joint name="joint2" type="revolute">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="-2.35" upper="2.35" velocity="10" />
    <parent link="link1" />
    <child link="link2" />
    <origin xyz="0 -0.08878 0" rpy="0 -1.5708 1.5708" />
    <dynamics damping="${joint_damping}" friction="${joint_friction}" />
  </joint>


  <joint name="joint3" type="revolute">
    <axis xyz=" 0 0 1" />
    <limit effort="1000.0" lower="-2.53" upper="2.53" velocity="10" />
    <parent link="link2" />
    <child link="link3" />
    <origin xyz="0.135 0 -0.08878   " rpy="0 0 0" />
    <dynamics damping="${joint_damping}" friction="${joint_friction}" />
  </joint>

  <joint name="joint4" type="revolute">
    <axis xyz=" 0 0 1" />
    <limit effort="1000.0" lower="-2.53" upper="2.53" velocity="10" />
    <parent link="link3" />
    <child link="link4" />
    <origin xyz="0.120 0 0.08878 " rpy=" 0 0 1.57080" />
    <dynamics damping="${joint_damping}" friction="${joint_friction}" />
  </joint>

  <joint name="joint5" type="revolute">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="-2.93" upper="2.93" velocity="10" />
    <parent link="link4" />
    <child link="link5" />
    <origin xyz="0 -0.095 0.0" rpy="1.5708 0 0" />
    <dynamics damping="${joint_damping}" friction="${joint_friction}" />
  </joint>

  <joint name="joint6" type="revolute">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="-3.14" upper="3.14" velocity="10" />
    <parent link="link5" />
    <child link="link6" />
    <origin xyz="0 0.0655 0.0" rpy="-1.5708 0 0" />
    <dynamics damping="${joint_damping}" friction="${joint_friction}" />
  </joint>


  <link name="gripper_base">
    <xacro:link_inertial xg="0" yg="0" zg="-0.012" mass="${gripper_base_mass}" ixx="0.00001"
      iyy="0.00001" izz="0.00001" />
    <visual>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_base.dae"/>
      </geometry>
    <origin xyz = "0.0 0 -0.012 " rpy = " 0 0 0"/>
    </visual>
    <collision>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_base.dae"/>
      </geometry>
    <origin xyz = "0.0 0 -0.012 " rpy = " 0 0 0"/>
    </collision>
  </link>


  <link name="gripper_left1">
    <xacro:link_inertial xg="0.039" yg="-0.0133" zg="-0.012" mass="${gripper_finger_mass}"
      ixx="0.000002" iyy="0.000002" izz="0.000002" />
    <visual>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_left1.dae"/>
      </geometry>
    <origin xyz = "0.039 -0.0133 -0.012 " rpy = " 0 0 0"/>
    </visual>
    <collision>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_left1.dae"/>
      </geometry>
        <origin xyz = "0.039 -0.0133 -0.012 " rpy = " 0 0 0"/>
    </collision>
  </link>


  <link name="gripper_left2">
    <xacro:link_inertial xg="0.005" yg="-0.0195" zg="-0.012" mass="${gripper_finger_mass}"
      ixx="0.000002" iyy="0.000002" izz="0.000002" />
    <visual>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_left2.dae"/>
      </geometry>
    <origin xyz = "0.005 -0.0195 -0.012 " rpy = " 0 0 0"/>
    </visual>
    <collision>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_left2.dae"/>
      </geometry>
        <origin xyz = "0.005 -0.0195 -0.012 " rpy = " 0 0 0"/>
    </collision>
  </link>


  <link name="gripper_left3">
    <xacro:link_inertial xg="0.012" yg="0.0025" zg="-0.012" mass="${gripper_finger_mass}"
      ixx="0.000002" iyy="0.000002" izz="0.000002" />
    <visual>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_left3.dae"/>
      </geometry>
    <origin xyz = "0.012 0.0025 -0.012 " rpy = " 0 0 0"/>
    </visual>
    <collision>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_left3.dae"/>
      </geometry>
    <origin xyz = "0.012 0.0025 -0.012 " rpy = " 0 0 0"/>
    </collision>
  </link>


  <link name="gripper_right1">
    <xacro:link_inertial xg="-0.039" yg="-0.0133" zg="-0.012" mass="${gripper_finger_mass}"
      ixx="0.000002" iyy="0.000002" izz="0.000002" />
    <visual>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_right1.dae"/>
      </geometry>
    <origin xyz = "-0.039 -0.0133 -0.012 " rpy = " 0 0 0"/>
    </visual>
    <collision>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_right1.dae"/>
      </geometry>
        <origin xyz = "-0.039 -0.0133 -0.012 " rpy = " 0 0 0"/>
    </collision>
  </link>


  <link name="gripper_right2">
    <xacro:link_inertial xg="-0.005" yg="-0.0195" zg="-0.012" mass="${gripper_finger_mass}"
      ixx="0.000002" iyy="0.000002" izz="0.000002" />
    <visual>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_right2.dae"/>
      </geometry>
    <origin xyz = "-0.005 -0.0195 -0.012 " rpy = " 0 0 0"/>
    </visual>
    <collision>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_right2.dae"/>
      </geometry>
        <origin xyz = "-0.005 -0.0195 -0.012 " rpy = " 0 0 0"/>
    </collision>
  </link>


  <link name="gripper_right3">
    <xacro:link_inertial xg="-0.012" yg="0.0025" zg="-0.012" mass="${gripper_finger_mass}"
      ixx="0.000002" iyy="0.000002" izz="0.000002" />
    <visual>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_right3.dae"/>
      </geometry>
    <origin xyz = "-0.012 0.0025 -0.012 " rpy = " 0 0 0"/>
    </visual>
    <collision>
      <geometry>
      <mesh filename="package://clase5/robot_description/adaptive_gripper/gripper_right3.dae"/>
      </geometry>
    <origin xyz = "-0.012 0.0025 -0.012" rpy = " 0 0 0"/>
    </collision>
  </link>
  <joint name="link6_to_gripper_base" type="fixed">
    <parent link="link6"/>
    <child link="gripper_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>



  <joint name="gripper_controller" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "-0.7" upper = "0.15" velocity = "0"/>
    <parent link="gripper_base"/>
    <child link="gripper_left3"/>
    <origin xyz= "-0.012 0.005 0" rpy = "0 0 0"/> 
  </joint>


  <joint name="gripper_base_to_gripper_left2" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "-0.8" upper = "0.5" velocity = "0"/>
    <parent link="gripper_base"/>
    <child link="gripper_left2"/>
    <origin xyz= "-0.005 0.027 0" rpy = "0 0 0"/> 
    <mimic joint="gripper_controller" multiplier="1.0" offset="0" />
  </joint>


  <joint name="gripper_left3_to_gripper_left1" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "-0.5" upper = "0.5" velocity = "0"/>
    <parent link="gripper_left3"/>
    <child link="gripper_left1"/>
    <origin xyz= "-0.027 0.016 0" rpy = "0 0 0"/> 
    <mimic joint="gripper_controller" multiplier="-1.0" offset="0" />
  </joint>


  <joint name="gripper_base_to_gripper_right3" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "-0.15" upper = "0.7" velocity = "0"/>
    <parent link="gripper_base"/>
    <child link="gripper_right3"/>
    <origin xyz= "0.012 0.005 0" rpy = "0 0 0"/> 
    <mimic joint="gripper_controller" multiplier="-1.0" offset="0" />
  </joint>


  <joint name="gripper_base_to_gripper_right2" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "-0.5" upper = "0.8" velocity = "0"/>
    <parent link="gripper_base"/>
    <child link="gripper_right2"/>
    <origin xyz= "0.005 0.027 0" rpy = "0 0 0"/> 
    <mimic joint="gripper_controller" multiplier="-1.0" offset="0" />
  </joint>


  <joint name="gripper_right3_to_gripper_right1" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "-0.5" upper = "0.5" velocity = "0"/>
    <parent link="gripper_right3"/>
    <child link="gripper_right1"/>
    <origin xyz= "0.027 0.016 0" rpy = "0 0 0"/> 
    <mimic joint="gripper_controller" multiplier="1.0" offset="0" />
  </joint>

  <!--  TCP / PUNTO DE AGARRE *******************-->
  <!-- El eje de aproximacion de la pinza es el +y de link6: con todas las
       juntas en cero el brazo apunta hacia arriba y ese +y queda mirando
       hacia abajo. La pinza ocupa y de -0.029 a +0.042 en ese frame, asi que
       tool0 se coloca 13mm mas alla de la punta.
       La rotacion -90 en x hace que el +z de tool0 sea el eje de
       aproximacion, que es la convencion que espera MoveIt. -->
  <xacro:property name="tool0_offset" value="0.055" />

  <link name="tool0" />

  <joint name="link6_to_tool0" type="fixed">
    <parent link="link6" />
    <child link="tool0" />
    <origin xyz="0 ${tool0_offset} 0" rpy="-1.5708 0 0" />
  </joint>

  <!--  ROS2 CONTROL *******************-->
  <!-- Sin este bloque no existe el controller_manager, y entonces los
       spawners de mycobot_launch.py (joint_state_broadcaster y
       joint_trajectory_controller) no tienen contra que levantar: MoveIt
       puede planificar pero no ejecutar. Las interfaces son de esfuerzo
       porque ros2_controllers.yaml ya define las ganancias PID por junta. -->
  <xacro:arg name="controllers_file" default="$(find clase5)/config/mycobot_320_m5_2022/ros2_controllers.yaml" />

  <xacro:macro name="joint_control" params="joint">
    <joint name="${joint}">
      <command_interface name="effort">
        <param name="min">-${joint_effort}</param>
        <param name="max">${joint_effort}</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
  </xacro:macro>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <xacro:joint_control joint="joint1" />
    <xacro:joint_control joint="joint2" />
    <xacro:joint_control joint="joint3" />
    <xacro:joint_control joint="joint4" />
    <xacro:joint_control joint="joint5" />
    <xacro:joint_control joint="joint6" />
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg controllers_file)</parameters>
    </plugin>
  </gazebo>

  <!-- CONFIGURACION DE PLUGINS DE GAZEBO  *******************-->
  <xacro:macro name="apply_joint_force" params="joint">
    <plugin filename="gz-sim-apply-joint-force-system"
      name="gz::sim::systems::ApplyJointForce">
      <joint_name>${joint}</joint_name>
    </plugin>
  </xacro:macro>

  <gazebo>
    <!-- Este plugin publica el estado de las articulaciones -->
    <plugin filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">
    </plugin>

    <!-- Plugins para aplicar fuerzas/torques desde ROS2 a las juntas -->
    <xacro:apply_joint_force joint="joint1" />
    <xacro:apply_joint_force joint="joint2" />
    <xacro:apply_joint_force joint="joint3" />
    <xacro:apply_joint_force joint="joint4" />
    <xacro:apply_joint_force joint="joint5" />
    <xacro:apply_joint_force joint="joint6" />
  </gazebo>

  <!--  CONFIGURACION DE COLISIONES *******************-->
  <!-- Self collision -->
  <gazebo>
    <self_collide>false</self_collide>
  </gazebo>


</robot>